<br>
<h1 style="text-align: center;">Metodos Numericos</h1>
<br>
<div class="container">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-3" style="margin-bottom: 10px;">
        <a routerLink="/PuntoFijo" class="btn btn-primary" style="width:200px; height: 40px;">Punto Fijo</a>
      </div>
      <div class="col-md-3" style="margin-bottom: 10px;">
        <a routerLink="/Biseccion" class="btn btn-primary" style="width:200px; height: 40px;">Biseccion</a>
      </div>
      <div class="col-md-3" style="margin-bottom: 10px;">
        <a routerLink="/NewtonRaphson" class="btn btn-primary" style="width:200px; height: 40px;">Newton Raphson</a>
      </div>
      <div class="col-md-3" style="margin-bottom: 10px;">
        <a routerLink="/Secante" class="btn btn-primary" style="width:200px; height: 40px;">Secante</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" style="margin-bottom: 10px;">
        <a routerLink="/Jacobi" class="btn btn-primary" style="width:200px; height: 40px;">Jacobi</a>
      </div>
      <div class="col-md-3" style="margin-bottom: 10px;">
        <a routerLink="/Gauss" class="btn btn-primary" style="width:200px; height: 40px;">Gauss Seidel</a>
      </div>
      <div class="col-md-3" style="margin-bottom: 10px;">
        <a routerLink="/Trapecio" class="btn btn-primary" style="width:200px; height: 40px;">Trapecio</a>
      </div>
      <div class="col-md-3" style="margin-bottom: 10px;">
        <a routerLink="/Simpson" class="btn btn-primary" style="width:200px; height: 40px;">Simpson</a>
      </div>
    </div>
  <div class="row">
    <div class="col-md-3" style="margin-bottom: 10px;">
      <a routerLink="/Euler" class="btn btn-primary" style="width:200px; height: 40px;">Euler</a>
    </div>
    <div class="col-md-3" style="margin-bottom: 10px;">
      <a routerLink="/Ajuste" class="btn btn-primary" style="width:200px; height: 40px;">Ajuste lineal</a>
    </div>

  </div>
  </div>
  <br>


<router-outlet></router-outlet>
